:root {
  --bg: #16072e;
  --hh: 80px;
}

@font-face {
  font-family: "BabaPro";
  src: url(BabaPro-Bold.ttf);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1;
  background-color: var(--bg);
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}
@media (max-width: 1024px) {
  body.open {
    overflow: hidden;
  }
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, figure {
  margin: 0;
}

#gradient-canvas-container {
  position: fixed;
  inset: 0;
  z-index: -2;
  mix-blend-mode: hard-light;
  filter: hue-rotate(40deg);
  opacity: 0.2;
}
#gradient-canvas-container canvas {
  width: 100%;
  height: 100%;
}

#fade {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(0deg, var(--bg), transparent, transparent);
}

#scroll-status-container {
  position: fixed;
  inset: 0;
  height: 4px;
  overflow: hidden;
  transition: 0.2s;
  z-index: 2;
}
#scroll-status-container #bar {
  height: 100%;
  width: 100vw;
  background: #8e63dc;
}

header .container,
section {
  width: 1140px;
  max-width: calc(100% - 30px);
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  height: var(--hh);
  z-index: 1;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  background-image: linear-gradient(90deg, rgba(33, 19, 55, 0.9), rgb(33, 19, 55));
  backdrop-filter: blur(10px);
  transition: 0.2s;
  border-bottom: solid 1px #4b126e;
}
header .container {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #hamburger {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-direction: column;
  transition: 0.2s;
  cursor: pointer;
  margin-right: 30px;
  z-index: 1;
  position: relative;
}
header #hamburger .line {
  width: 100%;
  height: 2px;
  background: white;
  transition: 0.2s;
}
@media (max-width: 1024px) {
  header #hamburger {
    display: flex;
  }
}
header #logo img {
  width: 50px;
  filter: saturate(0) brightness(20);
}
header ul {
  display: flex;
  gap: 30px;
  z-index: 1;
}
header ul li a {
  text-decoration: none;
  padding: 10px 0;
  display: inline-block;
  color: inherit;
  font-size: 16px;
}
header ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  header ul {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: var(--bg);
    width: 100vw;
    left: 0;
    flex-direction: column;
    z-index: 1;
    padding: 30px 15px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    gap: 0;
  }
  header ul li:not(:last-child) {
    border-bottom: solid 1px #545454;
  }
  header ul li a {
    padding: 15px 0;
  }
}
header .social {
  display: flex;
  position: relative;
  gap: 10px;
}
header .social a {
  background: #fff;
  border-radius: 100%;
  padding: 6px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .social a img {
  width: 100%;
}
header.open #hamburger {
  gap: 0;
}
header.open #hamburger .line:nth-child(1) {
  transform: rotateZ(45deg);
}
header.open #hamburger .line:nth-child(2) {
  transform: rotateZ(-45deg) translateX(1.5px) translateY(-0.5px);
}
header.open ul {
  visibility: visible;
  opacity: 1;
}

section {
  margin-top: 120px;
}
@media (max-width: 1024px) {
  section {
    margin-top: 60px;
  }
}
section h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 800;
  text-shadow: 0 0 10px #2196f3;
}
section h3 {
  margin-bottom: 15px;
  color: #eb5757;
}
@media (max-width: 576px) {
  section h2 {
    font-size: 36px;
  }
}

p {
  line-height: 1.6;
  margin: 0 0 20px;
}

#about {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

#about .images {
  min-width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

@media (max-width: 1024px) {
  #about {
    flex-direction: column-reverse;
  }
  #about .images {
    width: 100%;
  }
}
#about .images img {
  width: 100%;
  border-radius: 10px;
}

#roadmap h2 {
  text-align: center;
  margin-bottom: 40px;
}

#roadmap article {
  display: flex;
  gap: 10%;
  width: 900px;
  margin: 0 auto 40px;
  align-items: center;
  max-width: 100%;
}
#roadmap article figure {
  text-align: center;
}
#roadmap article img {
  width: 250px;
}
@media (max-width: 576px) {
  #roadmap article img {
    width: 200px;
  }
}

@media (min-width: 577px) {
  #roadmap article:nth-of-type(2) {
    flex-direction: row-reverse;
  }
}
@media (max-width: 1024px) {
  #roadmap h2 {
    margin-bottom: 30px;
  }
  #roadmap article {
    gap: 15px;
  }
}
@media (max-width: 576px) {
  #roadmap h2 {
    margin-bottom: 30px;
  }
  #roadmap article {
    flex-direction: column;
  }
}
#team {
  text-align: center;
}

@media (min-width: 1025px) {
  #team .members {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1024px) {
  #team .members {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
#team .members .member {
  background: #211337;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  border: solid 1px #3d206b;
}
#team .members .member:after {
  content: "";
  position: absolute;
  inset: 0;
  border: solid 2px transparent;
  border-radius: 5px;
  transition: 0.3s;
}
#team .members .member:hover:after {
  border-bottom-color: #eb5757;
}
#team .members .member .name {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 5px;
}
#team .members .member .post {
  color: #eb5757;
  margin-bottom: 5px;
}
#team .members .member .img {
  border-radius: 15px;
  overflow: hidden;
}
#team .members .member .img img {
  width: 100%;
}
@media (max-width: 1024px) {
  #team .members .member {
    max-width: 200px;
  }
}
@media (max-width: 576px) {
  #team .members .member {
    width: calc(50% - 7.5px);
  }
}

@media (max-width: 1024px) {
  #team .members .member .name {
    font-size: 18px;
  }
}
#mint {
  text-align: center;
}

footer {
  text-align: center;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #i1 {
  width: 75px;
  margin-bottom: 15px;
}

footer #i2 {
  width: 100px;
  margin: 5px auto 30px;
}

footer small {
  margin-bottom: 10px;
  font-size: 14px;
  margin-bottom: 30px;
}

footer a {
  color: inherit;
  margin-top: 5px;
  font-weight: 700;
  display: inline-block;
  word-break: break-all;
  padding: 0 5px;
}

/*# sourceMappingURL=about.css.map */
